.breadcrumb {
    position: absolute;
    left: 125px;
    bottom: -35px;
    display: flex;
    align-items: center;
    gap: 5px;

    @include w1695px {
        left: 0;
    }

    @include w1695px {
        left: 10px;
    }

    @include w1400px {
        left: 50px;
    }

    @include w1024px {
        left: 40px;
    }

    @include w600px {
        left: 30px;
    }


    li {
        font-family: $titleFont;
        color: $breadcrumb;

        @include w600px {
            font-size: $small;
        }

        a {
            color: $breadcrumb;
        }

        &:before {
            content: '>';
            color: $breadcrumb;
            font-weight: bold;
            padding-right: 5px;
        }

        &:first-of-type {

            &:before {
                display: none;
            }
        }

        &:last-of-type {
            color: $primary;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;

            &:before {
                color: $primary;
            }
        }
    }
}
