/****************************
            BUTTONS
*****************************/

.button {
    font-family: $titleFont;
    font-size: $medium;
    font-weight: bold;
    color: $primary;
    background: $white;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;

    svg {
        fill: $white;
        width: 25px;
        height: 25px;
    }

    &--simple {
        color: $white;
        padding: 0;
        background: none;
    }

    &--red {
        color: $white;
        background: $buttonBcg1;
        padding: 20px 25px;
    }

    &--blue {
        background: $secondary;
        padding: 20px 25px;

        svg {
            fill: $primary;
        }
    }

    &--post {
        font-weight: normal;
        flex-direction: row-reverse;
        justify-content: flex-end;
        text-decoration: underline;
        text-decoration-color: $buttonUnderline;
        text-decoration-thickness: 2px;
        padding: 0;

        svg {
            fill: $primary;
            height: 15px;
            width: 10px;
        }
    }

    &--footer {
        color: $white;
        padding: 0;
        background: none;
        font-weight: normal;
    }
}
