/****************************
            BUTTONS
*****************************/

.button {
    font-family: $titleFont;
    font-size: $medium;
    font-weight: bold;
    color: $primary;
    background: $white;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;

    svg {
        fill: $white;
        width: 25px;
        height: 25px;
    }

    &--simple {
        color: $white;
        padding: 0;
        background: none;
    }

    &--red {
        color: $white;
        background: $buttonBcg1;
        padding: 20px 25px;
        border: none;
    }

    &--blue {
        background: $secondary;
        padding: 20px 25px;
        border: none;

        svg {
            fill: $primary;
        }
    }

    &--border {
        background: none;
        border: solid 3px $primary;

        svg {
            fill: $primary;
        }
    }

    &--icon {
        border: none;
        background: $primary;
        border-radius: 50%;
        padding: 10px 12px;

        svg {
            fill: $white;
            height: 40px;
            width: 40px;
        }
    }

    &--arrow {
        padding: 10px 10px 10px 12px;
        position: absolute;
        top: 460px;
        right: -80px;

        &--left {
            transform: rotate(180deg);
            top: 460px;
            left: -80px;
            right: unset;
        }

    }

    &--post {
        font-weight: normal;
        justify-content: flex-end;
        text-decoration: underline;
        text-decoration-color: $buttonUnderline;
        text-decoration-thickness: 2px;
        padding: 0;
        display: block;

        svg {
            fill: $buttonUnderline;
            height: 15px;
            width: 10px;
        }
    }

    &--login {
        background: $primary;
        color: $white;
        border: none;
        border-radius: 10px;
    }

    &--footer {
        color: $white;
        padding: 0;
        background: none;
        font-weight: normal;
    }
}
