/****************************
            BUTTONS
*****************************/

.button {
    font-family: $titleFont;
    font-size: $medium;
    font-weight: bold;
    color: $primary;
    background: $white;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;

    &--simple {
        color: $white;
        padding: 0;
        background: none;
    }

    &--footer {
        color: $white;
        padding: 0;
        background: none;
        font-weight: normal;
    }
}
