/****************************
            COMMONS
*****************************/

.maintitle {
    font-weight: bold;
    font-size: $xxx-large;
    color: $white;
    font-family: $titleFont;
    max-width: 280px;
    line-height: 1.2;

    &--big {
        font-size: $xxxx-large;
    }

    &--small {
        font-size: $x-large;
    }

    &--blue {
        color: $primary;
    }

    &--footer {
        font-size: $large;
    }
}

.subtitle {
    font-weight: bold;
    font-size: $x-large;
    color: $primary;
    font-family: $titleFont;
    margin-bottom: 15px;
}
