/****************************
            COMMONS
*****************************/

.maintitle {
    font-weight: bold;
    font-size: $x-large;
    color: $white;
    font-family: $titleFont;

    &--footer {
        font-size: $large;
    }
}
