.contactMessagesPage {

    .decoContainer {
        top: -570px;
        left: 15%;
        right: 10%;
    }

    .unread, .read {

        &__title {
            margin-bottom: 20px;
        }
    }

    .read {
        padding-top: 70px;
        padding-bottom: 80px;
    }
}
