.heading {
    margin-top: 80px;

    .breadcrumb {
        bottom: 65px;
        left: 0;
    }

    &__title {
        text-align: center;
        max-width: none;
        width: 100%;
    }

    &__text {
        font-size: $medium;
        text-align: center;
        margin-top: 20px;
    }
}
