.user {

    .header {
        background: $primary;
        position: sticky;
        height: 100vh;
        width: 420px;
        top: 0;
        overflow: hidden;

        &__content {
            padding: 30px;
            height: 100vh;

            &__imgContainer {
                margin-bottom: 30px;

                &__link {

                    &__img {

                    }
                }
            }

            &__navigation {
                border-top: solid 2px $white;
                border-bottom: solid 2px $white;
                padding-top: 30px;
                height: 75%;

                &__list {

                    &__item {
                        padding: 15px;
                        border-radius: 10px;
                        margin-bottom: 15px;

                        &.active {
                            background: $tertiary;
                        }

                        &__link {

                            &__icon {

                            }
                        }
                    }
                }
            }

            &__buttonContainer {
                max-width: 220px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                margin-bottom: 30px;

                &__button {
                    padding: 10px 25px;
                    //_buttons.scss
                }
            }
        }
    }
}
