.registeredPage {

    .registered {
        margin-top: 40px;

        &__listing {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 25px;
        }
    }
}
