/****************************
            GENERAL
*****************************/

.sro{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
}

body {
    background-color: var(--color-blue-50);
}

a, h1, h2, h3, h4 {
    display: inline-block;
    text-decoration: none;
    font-family: $titleFont;
}

p {
    font-family: $textFont;
}

